<div id="container">
  <div id="utilityBarWrapper">
    <div id="utilityBar">
      <h1></h1>
      <span class="welcome"></span>
      <a href="#" id="logoutBtn" class="roundedBtn">Logout</a>
      <div class="buttons">
        <a href="/patient-search.jsp" id="patientSearchBtn" class="roundedBtn">Patient Search</a>
        <a href="/admin/" id="adminBtn" class="roundedBtn">Administration</a>
      </div>
    </div>
  </div>
  <div id="instructionsWrapper">
    <div id="instructions">
      <p><strong class="heading">Instructions:</strong> For MiMQIP to provide the best recommendation, it is important that all patient information be updated. <strong class="pleaseRemember">Please remember to do the following:</strong> <a href="#" class="btn" id="hideInstructions"><span>Hide</span></a></p>
      <ul>
        <li id="firstStep"><span>Verify diagnosis &amp; stage</span>  <a href="#">Update</a></li>
        <li id="secondStep"><span>Verify current medications</span>  <a href="#">Update</a></li>
        <li id="thirdStep"><span>Complete diagnosis-related scale</span> <a href="#">Go</a></li>
        <li id="fourthStep"><span>Complete global rating scales</span> <a href="#">Go</a></li>
      </ul>
    </div>
  </div>
  <div id="topWrapper">
    <div id="top">
      <div id="boxes">
        <div *ngIf="patient">
          <app-patient-information [patient]="patient"></app-patient-information>
          <app-patient-diagnosis></app-patient-diagnosis>
          <app-current-mediciations></app-current-mediciations>
          <app-progress-notes></app-progress-notes>
        </div>
        <div id="createProgressNote">
          <div id="selectTags">
            <h3>Select Tag(s)</h3>
            <div id="tagSelectList">
              <ul></ul>
            </div>
          </div>
          <div id="writeNote">
            <div id="topToolBar">
              <h3>Progress Notes</h3>
              <a href="#" class="disabled" id="saveNote">Save</a>
              <a href="#" id="cancelNote">Cancel</a>
            </div>
            <textarea id="noteTextarea" cols="10" rel="Enter text..." rows="10">Enter text...
						</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="tabsOuterWrapper">
    <div id="tabs">
      <div id="ajaxLoader"><img src="images/global/ajax-loader.gif" alt="" /></div>
      <div id="tabWrapper">
        <ul>
          <li id="tabEvaluations">
            <a href="#evaluations"><span>Patient Evaluations</span></a>
          </li>
          <li id="tabMedications" class="on">
            <a href="#medications"><span>Medications</span></a>
          </li>
          <li id="tabRecommendations">
            <a href="#recommendations"><span>Decision Support</span></a>
          </li>
          <li id="tabProgress">
            <a href="#progress"><span>Progress Notes</span></a>
          </li>
          <li id="tabLabs">
            <a href="#labs"><span>Patient Labs</span></a>
          </li>
          <li id="tabInformation">
            <a href="#information"><span>Patient Information</span></a>
          </li>
          <li id="tabReports">
            <a href="#reports"><span>Reports</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

