<div id="container">
  <div id="utilityBarWrapper">
    <div id="utilityBar">
      <h1></h1>
      <span class="welcome"></span>
      <a href="#" id="logoutBtn" class="roundedBtn">Logout</a>
      <div class="buttons">
        <a href="/patient-search.jsp" id="patientSearchBtn" class="roundedBtn">Patient Search</a>
        <a href="/admin/" id="adminBtn" class="roundedBtn">Administration</a>
      </div>
    </div>
  </div>
  <app-instructions></app-instructions>
  <div id="topWrapper">
    <div id="top">
      <div id="boxes">
        <div *ngIf="patient">
          <app-patient-information [patient]="patient"></app-patient-information>
          <app-patient-diagnosis></app-patient-diagnosis>
          <app-current-mediciations></app-current-mediciations>
          <app-progress-notes></app-progress-notes>
        </div>
      </div>
    </div>
  </div>
  <p-tabMenu [model]="items"></p-tabMenu>
  <div [ngSwitch]="tab">
    <app-evaluations *ngSwitchCase="1"></app-evaluations>
    <app-medications *ngSwitchCase="2"></app-medications>
    <app-recommendations *ngSwitchCase="3"></app-recommendations>
    <app-progress *ngSwitchCase="4"></app-progress>
    <app-labs *ngSwitchCase="5"></app-labs>
    <app-information *ngSwitchCase="6"></app-information>
    <app-reports *ngSwitchCase="7"></app-reports>
  </div>
</div>

