<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr bgcolor="#CAD8DF">
    <td nowrap>
      <p class='tableHeader'>
        Name
      </p>
    </td>
    <td nowrap>
      <p class='tableHeader'>
        Value
      </p>
    </td>
  </tr>

  <tr *ngFor="let diagnosis of diagnoses">
    <td><p class="tableText">{{ diagnosis.name }}</p></td>
    <td><p class="tableText">{{ diagnosis.value }}</p></td>
    <td>
      <a href="/diagnosis/details/{{ diagnosis.id }}" class="subLink">
        <img src="/assets/images/admin/blue_arrow.gif" width=5 height=10 alt="" border="0">detail
      </a>
    </td>
  </tr>

</table>


<!-- from recommend/include/diagnosis.jsp
<table width="100%" border="0" cellspacing="0" cellpadding="0">-->
  <!--<tr>-->
    <!--<td colspan="3" width="30%" bgcolor="#CAD8DF"><img src="/recommend/images/s.gif" width=1 height=1 alt="" border="0"></td>-->
    <!--<%-->
    <!--if (!invalid) { %>-->
    <!--<td width="1" bgcolor="#FFFFFF"><img src="/recommend/images/s.gif" width="1" height="1" alt="" border="0"></td>-->
    <!--<td colspan="2" width="30%" bgcolor="#CAD8DF"><img src="/recommend/images/s.gif" width="1" height="1" alt="" border="0"></td>-->
    <!--<% } else { %>-->
    <!--<td colspan="3" width="30%"><img src="/recommend/images/s.gif" width="1" height="1" alt="" border="0"></td>-->
    <!--<% } %>-->
    <!--<td colspan="2" width="40%"><img src="/recommend/images/s.gif" width="1" height="1" alt="" border="0"></td>-->
  <!--</tr>-->
<!--</table>-->
<!--<table width="100%" border="0" cellspacing="0" cellpadding="0">-->
  <!--<tr bgcolor="#CAD8DF">-->
    <!--<td><img src="/recommend/images/s.gif" width="1" height="1" alt="" border="0"></td>-->
    <!--<td>&nbsp;</td>-->
    <!--<% out.print(WriteTableHeader("Diagnosis", jspSelf)); %>-->
    <!--<% out.print(WriteTableHeader("Stage", jspSelf)); %>-->
    <!--<td nowrap><p class="tableHeader">&nbsp;</p></td>-->
    <!--<td>&nbsp;</td>-->
    <!--<td nowrap><p class="tableHeader">&nbsp;</p></td>-->
    <!--<td colspan="2">&nbsp;&nbsp;</td>-->
  <!--</tr>-->
  <!--<tr bgcolor="#CAD8DF">-->
    <!--<td colspan="13"><img src="/recommend/images/s.gif" width="1" height="1" alt="" border="0"></td>-->
  <!--</tr>-->
<!--<tr>-->
<!--<td bgcolor="#CAD8DF"><img src="/recommend/images/s.gif" width="1" height="1" alt="" border="0"></td>-->
<!--<td>&nbsp;</td>-->
<!--<td><p class="tableText"><%= diagnosisList[i].getDiagnosis()%></p></td>-->
<!--<td>&nbsp;</td>-->
<!--<td><p class="tableText"><%= diagnosisList[i].getStage()%></p></td>-->
<!--<td>&nbsp;</td>-->
<!--<td>&nbsp;</td>-->
<!--<td><a href="/recommend/diagnosis_detail.jsp?id=<% out.print(diagnosisList[i].getDiagnosisid());%>" class="subLink"><img src="/admin/images/blue_arrow.gif" width=5 height=10 alt="" border="0">&nbsp;detail</a></td>-->
<!--</tr>-->
<!--</table>-->
