<div class="tab-content">
  <button type="text" (click)="compareTreatments()" pButton icon="fa-arrows-h" label="Compare Treatments"></button>

  <!--<div class="floatLeft">-->
    <!--<h2 class="conditionalHeading hide" id="generalMessagesHdr">General Messages</h2>-->
    <!--<div class="generalmessages"></div>-->
    <!--<h2 class="conditionalHeading hide" id="guidelineConsistencyHdr">Guideline Consistency</h2>-->
    <!--<div class="generalconsistency"></div>-->
    <!--<div class="additionalconsistency"></div>-->
    <!--<h2 class="conditionalHeading hide" id="clinicalResponseHdr">Clinical Response and Treatment Recommendations</h2>-->
    <!--<div class="treatmentmessages"></div>-->
    <!--<div class="specialmessages"></div>-->
    <!--<div class="clinicalresponse"></div>-->
    <!--<div class="medicationresponse"></div>-->
  <!--</div>-->
  <!--<div class="floatLeft right">-->
    <!--<div class="treatmentTableHolder">-->
      <!--<h2>Current Guideline Stage Treatment Table</h2>-->
      <!--<table class="guidelinechart">-->
        <!--<thead>-->
        <!--<tr>-->
          <!--<th class="narrow odd" scope="col">Stage</th>-->
          <!--<th scope="col">Drug 1</th>-->
          <!--<th class="odd" scope="col">Drug 2</th>-->
          <!--<th scope="col">Drug 3</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody></tbody>-->
      <!--</table>-->
      <!--<a href="MQIP_Treatment_Tables.pdf" target="_blank" id="treatmentTableLink">Open treatment table for all stages (pdf)</a>-->
      <!--<div class="notes"></div>-->
    <!--</div>-->
    <!--<h2 class="conditionalHeading hide" id="otherInfoHdr">Other Information</h2>-->
    <!--<div class="othermessages"></div>-->
  <!--</div>-->
</div>
<app-compare-treatments-dialog  [(display)]="displayDialog" ></app-compare-treatments-dialog>
