<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#CAD8DF">

  <input type="hidden" name="id" value="<% if (diagnosisid > 0) {
               out.print(diagnosisid);
           } else {
               out.print(0);
           }%>">
  <tr>
    <td nowrap><p class="formText">Diagnosis</p></td>
    <td align="right">
      <p class="formText" style="text-align:left;">{{ diagnosis.name }}</p></td>
  </tr>

  <tr>
    <td nowrap><p class="formText">Stage</p></td>
    <td align="right">
      <p class="formText" style="text-align:left;">{{ diagnosis.stage }}</p></td>
  </tr>

  <tr>
    <td nowrap><p class="formText">Notes</p></td>
    <td align="right">
      <p class="formText" style="text-align:left;">
        <textarea rows='6' cols='80' name='Notes'>{{ diagnosis.notes }}</textarea>"
      </p>
    </td>
  </tr>


  <tr>
    <td nowrap="nowrap"><p class="formText">Treatment</p></td>
    <td align="right">
      <!--<p class="formText" style="text-align: left;">-->
      <ol>
        <li *ngFor="let guideline of diagnosis.guidelines">

          {{ guideline.treatment.name }}:{{guideline.row}}:{{guideline.drug}}
          <button
            (click)="editTreatment()"
            class="subLink">
            <img src="/recommend/images/blue_arrow.gif" alt="" border="0" height="10" width="5">Edit
          </button>
          <button
            (click)="removeTreatment()"
            class="subLink">
            <img src="/recommend/images/blue_arrow.gif" alt="" border="0" height="10" width="5">Delete
          </button>
        </li>
      </ol>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="addTreatment()" class="subLink">
        <img src="/recommend/images/blue_arrow.gif" width=5 height=10 alt="" border="0">Add New Treatment
      </button>
    </td>
  </tr>

  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="4">
        <tr>
          <td>
            <div class="updateText">
              <button (click)="updateDiagnosis()" class="updateText">
                <img src="/assets/images/admin/images/update_arrow.gif" width=5 height=10 alt="" border="0">Save Updates
              </button>
            </div>
          </td>
          <td>
            <div class="updateText"><a href="/diagnosis">

              <img src="/assets/images/admin/update_arrow.gif" width=5 height=10 alt="" border="0">Cancel Updates</a>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

