<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="168" nowrap bgcolor="#CAD8DF">
      <a href="/rules/details?id={{ id }}" class="subLink">
        <img src="/admin/images/blue_arrow.gif" width=5 height=10 alt="" border="0">Add Rule
      </a>
    </td>
    <td width="168" nowrap bgcolor="#CAD8DF">
      <a href="/rules?order={{ order }}" class="subLink">
        <img src="/admin/images/blue_arrow.gif" width=5 height=10 alt="" border="0">Show All Rules
      </a>
    </td>
    <td width="168" nowrap bgcolor="#CAD8DF">
      <a href="/rules?order={{ order }}" class="subLink">
        <img src="/admin/images/blue_arrow.gif" width=5 height=10 alt="" border="0">Show Active Rules
      </a>
    </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr bgcolor="#CAD8DF">
    <td nowrap><p class='tableHeader'>Rule Type</p></td>
    <td nowrap><p class='tableHeader'>Rule Name</p></td>
    <td nowrap><p class='tableHeader'>Priority</p></td>
  </tr>

  <tr *ngFor="let rule of rules">
    <td><p class="tableText">{{ rule.type }}</p></td>
    <td><p class="tableText">{{ rule.name }}</p></td>
    <td><p class="tableText">{{ rule.priority }}</p></td>
    <td>
      <a href="/rules/details?id={{ rule.id }}" class="subLink">
        <img src="/admin/images/blue_arrow.gif" width=5 height=10 alt="" border="0">detail
      </a>
    </td>
  </tr>
</table>
