<div id="container">
  <div id="utilityBarWrapper">
    <div id="utilityBar">
      <h1></h1>
      <span class="welcome"></span>
      <a href="#" id="logoutBtn" class="roundedBtn">Logout</a>
      <div class="buttons">
        <a href="patient/search" id="patientSearchBtn" class="roundedBtn">Patient Search</a>
        <a href="/admin/" id="adminBtn" class="roundedBtn">Administration</a>
      </div>
    </div>
  </div>
  <div id="patientSelectWrapper">
    <div id="topHeadingWrapper">
      <div id="topHeading">
        <h1>Create New Patient</h1>
      </div>
    </div>
    <form id="newPatientForm" action="">
      <div id="createFields" class="patientForm">
        <app-new-patient-form></app-new-patient-form>
        <p id="patientErrorMsg" class="errorMsg">Please complete all fields.</p>
        <div class="clear"></div>
        <input type="submit" value="Save" class="orangeBtn" id="savePatient" />
      </div>
    </form>
  </div>
</div>


