<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="670" align="left"><img src="/assets/images/recommend/admin_header.gif"
                                      width=670 height=96 alt="" border="0"></td>
    <td width="90" align="right"><img src="/assets/images/recommend/logo.png" width=200
                                      height=96 alt="Flinn Foundation" border="0"></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top" bgColor="#7F7F7F">
    <td width="199" valign="bottom" align="left">
      <p class="pageTitle">
        <a href="${pageContext.request.contextPath}/recommend" class="pageTitle">recommend home</a>
      </p>
    </td>
  </tr>
</table>
