<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr bgcolor="#CAD8DF">
    <td nowrap>
      <p class='tableHeader'>
        Name
      </p>
    </td>
    <td nowrap>
      <p class='tableHeader'>
        Value
      </p>
    </td>
  </tr>

  <tr *ngFor="let diagnosis of diagnoses">
    <td><p class="tableText">{{ diagnosis.name }}</p></td>
    <td><p class="tableText">{{ diagnosis.value }}</p></td>
    <td>
      <a href="/diagnosis/details/{{ diagnosis.id }}" class="subLink">
        <img src="/src/assets/images/admin/blue_arrow.gif" width=5 height=10 alt="" border="0">detail
      </a>
    </td>
  </tr>
</table>
