<div id="instructionsWrapper">
  <div id="instructions">
    <p><strong class="heading">Instructions:</strong> For MiMQIP to provide the best recommendation, it is important that all patient information be updated. <strong class="pleaseRemember">Please remember to do the following:</strong> <a href="#" class="btn" id="hideInstructions"><span>Hide</span></a></p>
    <ul>
      <li id="firstStep"><span>Verify diagnosis &amp; stage</span>  <a href="#">Update</a></li>
      <li id="secondStep"><span>Verify current medications</span>  <a href="#">Update</a></li>
      <li id="thirdStep"><span>Complete diagnosis-related scale</span> <a href="#">Go</a></li>
      <li id="fourthStep"><span>Complete global rating scales</span> <a href="#">Go</a></li>
    </ul>
  </div>
</div>
