.header-bar {
  background: #a3adb2 url("../../../assets/images/global/headerBarBg.png") bottom repeat-x;
  height: 28px;
  padding: 5px;

  .header-button {
    height: 18px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #3B3B3B;
    border-width: 0px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
  }

  .facility {
    font-size: 16px;
    text-transform: uppercase;
    color: #E3E4E5;
  }

  .doctor {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
  }

}
