<h1>Brief Bipolar Disorder Symptom Scale (BDSS)</h1>
<div class="instructions">Please enter a rating from 0-6 of the patient's symptoms in the past 7 days.</div>
<div class="ui-g">
  <div class="ui-g-12" *ngFor="let response of evaluationDto.evaluationResponses; let i = index">
    <div class="ui-g-1"></div>
    <div class="ui-g-1">
      <input pInputText type="number" [(ngModel)]="response.answer" style="width: 30px;text-align: center;" min="0" max="6">
    </div>
    <div class="ui-g-10">
      <div>
        <span
          style="font-weight: bold; color: #1389B8; text-transform: uppercase">{{ i+1 }}. {{ response.prompt }}: </span>
        <span>{{ bipolarQuestionsMap.get(response.prompt) }}</span>
      </div>
      <a (click)="openScaleDetails(response.prompt)" class="view-scale">View Scale</a>
    </div>
  </div>
</div>
<app-evaluation-dialog [(display)]="displayDialog" [name]="dialogKey" [longDescription]="dialogLongDescription"
                       [scaleDescriptions]="dialogScaleDescriptions"></app-evaluation-dialog>

<div>
  <span class="title">Manic Subscale = </span><span class="inputVal">{{ calculateSubscale(evaluationDto.evaluationResponses, 'manic') }}</span>
</div>

<div>
  <span class="title">Depressed Subscale = </span><span class="inputVal">{{ calculateSubscale(evaluationDto.evaluationResponses, 'depressed') }}</span>
</div>


<div>
  <span class="title">Psychotic Subscale = </span><span class="inputVal">{{ calculateSubscale(evaluationDto.evaluationResponses, 'psychotic') }}</span>
</div>


<div>
  <span class="title">Total Score = </span><span class="inputVal">{{ calculateTotal(evaluationDto.evaluationResponses) }}</span>
</div>

<div class="buttons bottom">
  <input tabindex="11" type="submit" class="orange-btn" value="Save"/>
</div>

