<div class="diagnosis-box ui-g-nopad" id="boxDiagnosisStage">
  <div class="box-header">
    Diagnosis &amp; Stage
  </div>
  <div class="field-box ui-g-12" id="diagnosis" style="height: 84px">
    <span class="title">Primary Diagnosis</span>
    <span class="data"></span>
  </div>
  <div class="field-box ui-g-4" id="stage" style="border-style:solid solid none none">
    <span class="title">Stage</span>
    <span class="data"></span>
  </div>
  <div class="field-box ui-g-8" style="border: none;">
    <button class="patient-details-button" (click)="openDiagnosis()" style="top: -5px;left: 3px;">
      Update / View Past
    </button>
  </div>
</div>
