<form action="" class="crsEval phq9">
  <h1>PHQ9 for Major Depressive Disorder</h1>
  <p class="instructions">Over the last 2 weeks, how often have you been bothered by any of the following problems?</p>
  <div class="evalNav">
    <a class="prevEval" href="#"></a>
    <span class="evalDate"></span>
    <a class="nextEval" href="#"></a>
  </div>
  <div class="scoreTitles">
    <ul>
      <li>Not at all</li>
      <li>Several<br />days</li>
      <li>More than<br />7 days</li>
      <li>Nearly<br />every day</li>
      <li class="score">Score</li>
    </ul>
  </div>
  <ul class="questionList">
    <li class="fieldWrapper total top">
      <div class="floatLeft">
        <p>
          <span class="title">Total Score = </span><span class="inputVal"></span>
        </p>
      </div>
    </li>
    <li class="fieldWrapper symptom" *ngFor="let question of questions; let i = index;">
      <label><span class="number">{{ index }}.</span><span>{{ question }}</span></label>
      <ul class="radiolist">
        <li *ngFor="let number of [0,1,2,3]">
          <input type="radio" name="question{{ i }}" value="{{ number }}" [(ngModel)]="responses[i]"/>
        </li>
        <li class="score">
          <span class="inputVal">{{ responses[i] }}</span>
        </li>
      </ul>
    </li>
    <li class="fieldWrapper total bottom">
      <div class="floatLeft">
        <p>
          <span class="title">Total Score = </span><span class="inputVal">{{ responses | sumImpure }}</span>
        </p>
      </div>
    </li>
  </ul>
  <div class="scoreTitles">
    <ul>
      <li>Not difficult at all</li>
      <li>Somewhat difficult</li>
      <li>Very<br />difficult</li>
      <li>Extremely difficult</li>
    </ul>
  </div>
  <ul class="lastQuestion">
    <li class="fieldWrapper symptom">
      <label><span>If you checked off any problems, how difficult have these problems made it for you to do your work, take care of things at home, or get along with other people?</span></label>
      <ul class="radiolist">
        <li><input type="radio" name="question10" value="not difficult" /></li>
        <li><input type="radio" name="question10" value="somewhat difficult" /></li>
        <li><input type="radio" name="question10" value="very difficult" /></li>
        <li><input type="radio" name="question10" value="extremely difficult" /></li>
      </ul>
    </li>
  </ul>
  <div class="evaluatedBy">Evaluated By: <span></span></div>
  <div class="buttons bottom">
    <input type="submit" class="orange-btn" value="Save" (click)="saveResults()" />
  </div>
  <div id="scoreInterpretation">
    <h2>Interpretation of Total Score</h2>
    <p><strong>Total Score Depression Severity</strong></p>
    <ul>
      <li><span>1-4</span> Minimal depression</li>
      <li><span>5-9</span> Mild depression</li>
      <li><span>10-14</span> Moderate depression</li>
      <li><span>15-19</span> Moderately severe depression</li>
      <li><span>20-27</span> Severe depression
    </ul>
  </div>
</form>
