<div id="medications" class="tabBox">
  <div class="floatHolder">
    <a href="#" class="btn" id="discontinue"><span>Discontinue</span></a>
    <a href="#" class="btn" id="prescribe"><span>ePrescribe</span></a>
    <h3>Manage Medications:</h3>
  </div>
  <div id="graphWrapper">
    <div id="key">
      <div class="dropdown" id="scales">
        <a href="#" class="pullDown"></a>
        <ul></ul>
      </div>
      <div id="keyWrapper">
        <ul>
          <li class="brown"></li>
          <li class="purple"></li>
          <li class="red"></li>
        </ul>
      </div>
    </div>
    <div id="graph">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <div id="chartWrapper">
    <a href="#" class="previous navArrow"><<</a>
    <div class="outerTable">
      <div class="innerTable">
        <table>
          <thead>
          <tr class="dateRow">
            <th class="appt">
              <span class="week">Stage:</span>
              <span class="date">Date:</span>
            </th>
            <th>
              <span class="week"></span>
              <span class="stage"></span>
              <span class="date"></span>
            </th>
            <th>
              <span class="week"></span>
              <span class="stage"></span>
              <span class="date"></span>
            </th>
            <th>
              <span class="week"></span>
              <span class="stage"></span>
              <span class="date"></span>
            </th>
            <th>
              <span class="week"></span>
              <span class="stage"></span>
              <span class="date"></span>
            </th>
            <th>
              <span class="week"></span>
              <span class="stage"></span>
              <span class="date"></span>
            </th>
            <th>
              <span class="week"></span>
              <span class="stage"></span>
              <span class="date"></span>
            </th>
            <th>
              <span class="week"></span>
              <span class="stage"></span>
              <span class="date"></span>
            </th>
            <th>
              <span class="week"></span>
              <span class="stage"></span>
              <span class="date"></span>
            </th>
          </tr>
          </thead>
          <tbody>
          <!--<tr class="current">
                            <td class="heading">Buproprion</td>
                            <td></td>
                            <td>30</td>
                            <td>30</td>
                            <td>30</td>
                            <td>30</td>
                            <td>30</td>
                            <td>30</td>
                            <td>30</td>
                        </tr>
                        <tr class="odd current">
                            <td class="heading">Venlafaxine</td>
                            <td></td>
                            <td></td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                        </tr>
                        <tr class="discontinuedDivider">
                            <td colspan="9">Discontinued Medications <img src="images/graph/downArrow.png" alt="" /></td>
                        </tr>
                        <tr class="discontinued">
                            <td class="heading">Lorazepam</td>
                            <td>20</td>
                            <td>D/C</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="discontinued odd">
                            <td class="heading">Fluoxetine</td>
                            <td>20</td>
                            <td>D/C</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="discontinued">
                            <td class="heading">Zolpidem</td>
                            <td>10</td>
                            <td>D/C</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="discontinued odd">
                            <td class="heading">Fluoxetine</td>
                            <td>20</td>
                            <td>D/C</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="discontinued">
                            <td class="heading">Zolpidem</td>
                            <td>10</td>
                            <td>D/C</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>-->
          </tbody>
        </table>
      </div>
    </div>
    <a href="#" class="next navArrow">>></a>
  </div>
  <div id="noMedications" class="noresults"><p>No medications have been added for this patient.</p><p>Click the ePrescribe button above to add a medication.</p></div>
  <div id="longMedications" class="longresults"><p>* Treatment was last administered on the date indicated in <span style="color:red;">red</span> next to the drug name to the left.</p></div>
</div>
