<div class="ui-g">
  <div class="ui-g-4">
    <h3>Required Evaluations</h3>
    <a class="evaluation-link" routerLink="global" preserveQueryParams skipLocationChange routerLinkActive="active-route">Global Rating Scale</a>
    <div [ngSwitch]="diagnosisRelatedEvaluation">
      <a *ngSwitchCase="evaluationTypeEnum.PHQ9" class="evaluation-link" routerLink="phq9"
         preserveQueryParams skipLocationChange routerLinkActive="active-route">Major Depressive Disorder PHQ9 Scale</a>
      <a *ngSwitchCase="evaluationTypeEnum.BBDSS" class="evaluation-link" routerLink="bbdss"
         preserveQueryParams skipLocationChange routerLinkActive="active-route">Bipolar Disorder BBDSS Scale</a>
      <a *ngSwitchCase="evaluationTypeEnum.PSRS" class="evaluation-link" routerLink="psrs"
         preserveQueryParams skipLocationChange routerLinkActive="active-route">Schizophrenia PSRS Scale</a>
    </div>

    <h3>Additional Evaluations</h3>
    <a class="evaluation-link" routerLink="psychiatric" preserveQueryParams skipLocationChange routerLinkActive="active-route">Psychiatric Evaluation</a>
    <a class="evaluation-link" routerLink="mental-status" preserveQueryParams skipLocationChange routerLinkActive="active-route">Mental Status</a>
    <a class="evaluation-link" routerLink="substance-abuse" preserveQueryParams skipLocationChange routerLinkActive="active-route">Substance Abuse Assessment</a>
    <a class="evaluation-link" routerLink="vital-signs" preserveQueryParams skipLocationChange routerLinkActive="active-route">Patient Vital Signs</a>
  </div>
  <div class="ui-g-8">
    <router-outlet></router-outlet>
  </div>
</div>
