<div class="ui-g">
  <div class="ui-g-4">
    <h3>Required Evaluations</h3>
    <a class="evaluation-link" routerLink="global" preserveQueryParams skipLocationChange routerLinkActive="active-route">Global Rating Scale</a>
    <div [ngSwitch]="selectedMajorDiagnosis">
      <a *ngSwitchCase="majorDiagnosisTypes[0]" class="evaluation-link" routerLink="mdd"
         preserveQueryParams skipLocationChange routerLinkActive="active-route">Major Depressive Disorder Scale</a>
      <a *ngSwitchCase="majorDiagnosisTypes[1]" class="evaluation-link" routerLink="schizophrenic"
         preserveQueryParams skipLocationChange routerLinkActive="active-route">Schizophrenia Scales</a>
      <a *ngSwitchCase="majorDiagnosisTypes[2]" class="evaluation-link" routerLink="bipolar"
         preserveQueryParams skipLocationChange routerLinkActive="active-route">Bipolar Disorder Scale</a>
    </div>

    <h3>Additional Evaluations</h3>
    <a class="evaluation-link" routerLink="psychiatric" preserveQueryParams skipLocationChange routerLinkActive="active-route">Psychiatric Evaluation</a>
    <a class="evaluation-link" routerLink="mental-status" preserveQueryParams skipLocationChange routerLinkActive="active-route">Mental Status</a>
    <a class="evaluation-link" routerLink="substance-abuse" preserveQueryParams skipLocationChange routerLinkActive="active-route">Substance Abuse Assessment</a>
    <a class="evaluation-link" routerLink="vital-signs" preserveQueryParams skipLocationChange routerLinkActive="active-route">Patient Vital Signs</a>
  </div>
  <div class="ui-g-8">
    <router-outlet></router-outlet>
  </div>
</div>
