<div class="floatLeft">
  <div class="fieldWrapper">
    <label for="fNameInput">First Name:</label>
    <input type="text" class="greenInput" id="fNameInput" [(ngModel)]="patient.firstName"/>
  </div>
  <div class="fieldWrapper">
    <label for="lNameInput">Last Name:</label>
    <input type="text" class="greenInput" id="lNameInput" [(ngModel)]="patient.lastName"/>
  </div>
  <div class="fieldWrapper" id="raceField">
    <label for="raceList">Race:</label>
    <ul id="raceList" class="inputList">
      <li *ngFor="let race of raceOptions">
        <label><input type="checkbox" [(ngModel)]="race.checked"/>{{ race.name }}</label>
      </li>
    </ul>
  </div>
  <div class="fieldWrapper" id="ethnicityField">
    <label for="raceDropdown">Ethnicity:</label>
    <div class="floatLeft">
      <p>Hispanic, Latino or Spanish? </p>
      <ul id="ethnicityList" class="inputList">
        <li><input type="radio" name="hispanic" value="yes" id="hispanicYes"/> <label for="hispanicYes">Yes</label></li>
        <li><input type="radio" name="hispanic" value="no" id="hispanicNo"/> <label for="hispanicNo">No</label></li>
        <li><input type="radio" name="hispanic" value="no response" id="hispanicNoResponse"/> <label
          for="hispanicNoResponse">No response</label></li>
      </ul>
    </div>
  </div>
  <div class="fieldWrapper">
    <label for="pcpnInput" class="noPadding">Primary Care Physician Name:</label>
    <input type="text" class="greenInput" id="pcpnInput"/>
  </div>
  <div class="fieldWrapper">
    <label for="pcpeInput" class="noPadding">Primary Care Physician Email:</label>
    <input type="text" class="greenInput" id="pcpeInput"/>
  </div>
</div>
<div class="floatLeft right">
  <div class="fieldWrapper">
    <label for="zipCodeInput">ZIP Code:</label>
    <input type="text" maxlength="5" class="greenInput" id="zipCodeInput" [(ngModel)]="patient.zipCode"/>
  </div>
  <div class="fieldWrapper">
    <label for="employmentDropdown" class="noPadding">Employment Status:</label>
    <select class="form-control" required id="employmentDropdown" [(ngModel)]="patient.employment">
      <option *ngFor="let option of employmentOptions | enumKeys " [value]="option">{{option | uncamelize}}</option>
    </select>
  </div>
  <div class="fieldWrapper">
    <label for="sexDropdown">Sex:</label>
    <select class="form-control" required id="sexDropdown" [(ngModel)]="patient.sex">
      <option *ngFor="let option of sex | enumKeys " [value]="option">{{option | uncamelize}}</option>
    </select>
    <div class="fieldWrapper">
      <label for="dateOfBirth">Date of Birth:</label>
      <p-calendar id="dateOfBirth" [(ngModel)]="patient.dateOfBirth" [defaultDate]="defaultDate" [monthNavigator]="true"
                  [yearNavigator]="true" [yearRange]="yearRange"></p-calendar>
    </div>


    <div class="fieldWrapper">
      <label for="maritalDropdown">Marital Status:</label>
      <select class="form-control" required id="maritalDropdown" [(ngModel)]="patient.marital">
        <option *ngFor="let option of maritalOptions | enumKeys " [value]="option">{{option | uncamelize}}</option>
      </select>
    </div>

    <div class="fieldWrapper">
      <label for="livingDropdown" class="noPadding">Living Arrangement:</label>
      <select class="form-control" required id="livingDropdown" [(ngModel)]="patient.living">
        <option *ngFor="let option of livingOptions | enumKeys " [value]="option">{{option | uncamelize}}</option>
      </select>
    </div>
  </div>
  <button (click)="saveNewPatient()" class="orangeBtn" id="savePatient">Save</button>
</div>
