.progress-notes {
  width: 393px;
}

.existing-progress-note {
  background: lightskyblue;
  margin-bottom: 1px;
  padding: 0 5px;
}

.new-progress-note {
  height: 140px;
  width: 628px;

  .progress-note-header {
    color: #FFFFFF;
  }

  .save-note-button {
    position: absolute;
    top: 2px;
    right: 24px;
  }

  .tags {
    background: white;
    height: 100px;
    width: 100%;
  }

  .note-message {
    height: 100px;
    width: 100%;
    resize: none;
  }

  .error {
    font-size: 12px;
    color: red;
    float: right;
  }
}
