<div class="progress-notes">
  <div class="box-header">
    Progress Notes
    <button (click)="op.toggle($event)" class="patient-details-button" style="float: right">Create Note</button>
  </div>
  <div style="height: 112px;background:white">
  </div>
</div>
<p-overlayPanel #op [style]="{'background':'#5eb6dc'}">
  <div class="ui-g overlay-content">
    <div class="ui-g-3">
      <div class="progress-note-header">Select Tag</div>
      <div class="tags">
        <div *ngFor="let tag of noteTags">
          <label>
            <input type="checkbox" name="isActive" [(ngModel)]="tag.value">
            {{ tag.label }}
          </label>
        </div>
      </div>
    </div>
    <div class="ui-g-9">
      <div class="progress-note-header">
        Progress Note
        <button class="save-note-button orange-btn" [ngClass]="{' grey-btn': !hasMessageContent()}"
                [disabled]="!hasMessageContent()" (click)="saveNote()">Save
        </button>
      </div>
      <textarea class="note-message" [(ngModel)]="progressNote.message"></textarea>
    </div>

  </div>
</p-overlayPanel>
