<app-instructions></app-instructions>

<div class="boxes-wrapper">
  <div class="content">
    <app-patient-information class="box"></app-patient-information>
    <app-patient-diagnosis class="box" ></app-patient-diagnosis>
    <app-current-mediciations class="box"></app-current-mediciations>
    <app-progress-notes class="box"></app-progress-notes>
  </div>
</div>
<div class="tabs-wrapper">
  <div class="content">
    <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>


