<app-instructions [patientId]="patientId"></app-instructions>

<div class="boxes-wrapper">
  <div class="content">
    <app-patient-information class="box" [patientId]="patientId"></app-patient-information>
    <app-patient-diagnosis class="box" [patientId]="patientId"></app-patient-diagnosis>
    <app-current-mediciations class="box"></app-current-mediciations>
    <app-progress-notes class="box"></app-progress-notes>
  </div>
</div>
<div class="tabs-wrapper">
  <div class="content">
    <p-tabMenu [model]="items"></p-tabMenu>
  </div>
</div>
<div class="content" [ngSwitch]="tab">
  <app-evaluations *ngSwitchCase="1" [patientId]="patientId"></app-evaluations>
  <app-medications *ngSwitchCase="2"></app-medications>
  <app-recommendations *ngSwitchCase="3" [patientId]="patientId"></app-recommendations>
  <app-progress *ngSwitchCase="4"></app-progress>
  <app-labs *ngSwitchCase="5"></app-labs>
  <app-information *ngSwitchCase="6"></app-information>
  <app-reports *ngSwitchCase="7"></app-reports>
</div>


