<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="168" nowrap bgcolor="#CAD8DF">
      <a href="/recommend/message_detail.jsp?id=0&edit=y" class="subLink">
        <img src="/src/assets/images/admin/blue_arrow.gif" width=5 height=10 alt="" border="0">Add Message
      </a>
    </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr bgcolor="#CAD8DF">
    <td nowrap>
      <p class='tableHeader'>
        Messsage Tag
      </p>
    </td>
    <td nowrap>
      <p class='tableHeader'>
        Message
      </p>
    </td>
    <td nowrap>
      <p class='tableHeader'>
        Priority
      </p>
    </td>
  </tr>

  <tr *ngFor="let message of messages">
    <td bgcolor="#CAD8DF"><img src="/recommend/images/s.gif" width="1" height="1" alt="" border="0"></td>
    <td width="10%"><p class="tableText">{{ message.tag }}</p></td>
    <td width="70%"><p class="tableText">{{ message.text }}</p></td>
    <td width="10%"><p class="tableText">{{ message.priority }}</p></td>
    <td width="10%">
      <a href="/messages/details?id={{ message.id }}" class="subLink">
        <img src="/src/assets/images/admin/blue_arrow.gif" width=5 height=10 alt="" border="0">detail
      </a>
    </td>
  </tr>
</table>
