<table width="200" border="0" cellspacing="0" cellpadding="0" bgcolor="#E6E5E3">
  <tr valign='middle'>
    <td>
      <a href='settings' class='navLink Selected'>
        <img src='/assets/images/admin/nav_boxed_arrow.gif' width=25
             height=15 alt='' border='0'>
        Settings
      </a>
    </td>
  </tr>
  <tr valign='middle'>
    <td>
      <a href='rules' class='navLink Selected'>
        <img src='/assets/images/admin/nav_boxed_arrow.gif' width=25
             height=15 alt='' border='0'>
        Rules
      </a>
    </td>
  </tr>
  <tr valign='middle'>
    <td>
      <a href='messages' class='navLink Selected'>
        <img src='/assets/images/admin/nav_boxed_arrow.gif' width=25
             height=15 alt='' border='0'>
        Messages
      </a>
    </td>
  </tr>
  <tr valign='middle'>
    <td>
      <a href='export' class='navLink Selected'>
        <img src='/assets/images/admin/nav_boxed_arrow.gif' width=25
             height=15 alt='' border='0'>
        Export
      </a>
    </td>
  </tr>
  <tr valign='middle'>
    <td>
      <a href='diagnosis' class='navLink Selected'>
        <img src='/assets/images/admin/nav_boxed_arrow.gif' width=25
             height=15 alt='' border='0'>
        Diagnoses
      </a>
    </td>
  </tr>
  <tr valign="middle">
    <td>
      <a href="assets/admin/index.jsp" class="navLink">
        <img src="/assets/images/admin/nav_boxed_arrow.gif" width=25
             height=15 alt="" border="0">
        Admin Home
      </a>
    </td>
  </tr>
</table>
