<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#CAD8DF">

  <input type="hidden" name="id" value="{{ message.id }}">
  <tr>
    <td nowrap><p class="formText">Message Tag</p></td>
    <td align="right">
      <p class="formText" style="text-align:left;">
        <input type='text' name='MessageTag' maxlength='50' value="{{ message.tag }}"></p></td>
  </tr>
  <tr>
    <td nowrap><p class="formText">Message</p></td>
    <td align="right">
      <p class="formText" style="text-align:left;">
        <textarea rows='6' cols='80' name='Message'>{{ message.text }}</textarea>
      </p></td>
  </tr>
  <tr>
    <td nowrap><p class="formText">Priority</p></td>
    <td align="right">
      <p class="formText" style="text-align:left;">
        <input type='text' name='Priority' maxlength='30' value="{{ message.priority }}">
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="4">
        <tr>
          <td>
            <div class="updateText">
              <button (click)="editMessage(message.id)" class="updateText">
                <img src="/src/assets/images/admin/update_arrow.gif" width=5 height=10 alt="" border="0">Edit
              </button>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="4">
        <tr>
          <td>
            <div class="updateText">
              <button (click)="saveUpdates()" class="updateText">
                <img src="/src/assets/images/admin/update_arrow.gif" width=5 height=10 alt="" border="0">Save Updates
              </button>
            </div>
          </td>
          <td>
            <div class="updateText">
              <button (click)="cancelUpdates()" class="updateText">
                <img src="/src/assets/images/admin/update_arrow.gif" width=5 height=10 alt="" border="0">Cancel Updates
              </button>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
