<h1>Patient Vital Signs</h1>
<div class="input-section">
  <p-dropdown [options]="feetSelectItems" [(ngModel)]="selectedItem"></p-dropdown>FT
  <p-dropdown [options]="inchesSelectItems" [(ngModel)]="selectedItem2"></p-dropdown>IN
</div>

<div class="input-section">
  <label>Weight:</label>
  <input class="greenInput" type="text" maxlength="3" pInputText/>
  <span class="inputVal"></span>
  <span class="labelText">lbs</span>
</div>

<div class="input-section">
  <label>BMI:</label>
  <span class="inputVal"></span>
</div>

<div class="input-section">
  <label>Blood Pressure:</label>
  <input class="greenInput" type="text" maxlength="3" pInputText/><span class="inputVal"></span>
  <span class="labelText">/</span>
  <input class="greenInput" type="text" maxlength="3" pInputText/><span class="inputVal"></span>
</div>

<div class="input-section">
  <label>Heart Rate:</label>
  <input class="greenInput" type="text" maxlength="3" pInputText/>
  <span class="inputVal"></span>
  <span class="labelText">bpm</span>
</div>

<div class="errorMsg" style="display:none">Please enter data in one or more of the fields.</div>
<div class="buttons bottom">
  <input type="submit" class="orange-btn" value="Save"/>
</div>
