<h1>Patient Vital Signs</h1>
<div class="input-section">
  <span style="margin-right: 10px">
    <p-dropdown [options]="feetSelectItems" [(ngModel)]="selectedFeet"></p-dropdown>ft
  </span>
  <span>
    <p-dropdown [options]="inchesSelectItems" [(ngModel)]="selectedInches"></p-dropdown>in
  </span>
</div>

<div class="input-section">
  <label>Weight:</label>
  <input type="text" maxlength="3" pInputText [(ngModel)]="vitalSigns.weight"/>
  <span class="labelText">lbs</span>
</div>

<div class="input-section">
  <label>BMI:</label>
  <span class="inputVal"></span>
</div>

<div class="input-section">
  <label>Blood Pressure:</label>
  <input class="greenInput" type="text" maxlength="3" pInputText [(ngModel)]="vitalSigns.bloodPressure.systolic"/>
  <span class="labelText">/</span>
  <input class="greenInput" type="text" maxlength="3" pInputText [(ngModel)]="vitalSigns.bloodPressure.diastolic"/>
</div>

<div class="input-section">
  <label>Heart Rate:</label>
  <input type="text" maxlength="3" pInputText [(ngModel)]="vitalSigns.heartRate"/>
  <span class="labelText">bpm</span>
</div>

<div class="buttons bottom">
  <button (click)="saveVitals()" class="orange-btn">Save</button>
</div>
