<div class="information-box ui-g-nopad">
  <div class="box-header">
    Patient Information
  </div>
  <div class="field-box ui-g-12" id="first">
    <span class="title">First</span>
    <span class="data">{{ patient.firstName }}</span>
  </div>
  <div class="field-box ui-g-12" id="last">
    <span class="title">Last</span>
    <span class="data">{{ patient.lastName }}</span>
  </div>
  <div class="field-box ui-g-12" id="id">
    <span class="title">ID #</span>
    <span class="data">{{ patient.id }}</span>
  </div>
  <div class="field-box ui-g-3" id="sex">
    <span class="title">Sex</span>
    <span class="data">{{ patient.sex | sexShort }}</span>
  </div>
  <div class="field-box ui-g-3" id="age" style="border: 1px #C7D1D7; border-style:solid solid none;">
    <span class="title">Age</span>
    <span class="data">{{ patient.dateOfBirth | age }}</span>
  </div>
  <div class="field-box ui-g-6" id="dob">
    <span class="title">Dob</span>
    <span class="data">{{ patient.dateOfBirth | date:'yMd' }}</span>
  </div>
</div>
