<div class="login-page">
  <div class="content login-content ui-g">
    <div class="ui-g-12"><img src="../../../assets/images/admin/logo.png"></div>
    <label class="credentials ui-g-12"><span class="credentials-label ui-g-4">Username:</span><input class="ui-g-7" type="text" name="user"></label>
    <label class="credentials ui-g-12"><span class="credentials-label ui-g-4">Password:</span><input class="ui-g-7" type="password" name="password"></label>
    <div class="ui-g-12"><button (click)="submitCredentials()" class="orange-btn login-button">LOGIN</button></div>
  </div>
</div>
