<div id="boxDiagnosisStage" class="box">
  <div class="headingBar">
    <h2>Diagnosis &amp; Stage</h2>
  </div>
  <div class="floatWrapper">
    <div class="fieldBox" id="diagnosis">
      <span class="title">Primary Diagnosis</span>
      <span class="content"></span>
    </div>
    <div class="fieldBox" id="stage">
      <span class="title">Stage</span>
      <span class="content"></span>
    </div>
    <a href="#" id="updateViewPast" class="btn"><span>Update / View Past</span></a>
  </div>
</div>
