<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#CAD8DF">
  <input type="hidden" name="id" value="{{ rule.id }}">
  <tr>
    <td width="12" align="left"><img src="/recommend/images/s.gif" width=12 height=1 alt="" border="0"></td>
    <td nowrap><p class="formText">Rule Type</p></td>
    <td align="right">
      <p class="formText" style="text-align:left;">
        <select name='RuleType'>
          <option *ngFor="let ruleType of ruleTypes" value="{{ ruleType }}" selected="{{ rule.type == ruleType}}">
            {{ ruleType }}
          </option>
        </select>
        <br/>(Currently: {{ rule.type }})
      </p>
    </td>
  </tr>

  <tr>
    <td nowrap><p class="formText">Diagnosis</p></td>
    <td align="right">
      <div class="formText" style="text-align:left;" *ngFor="let diagnosis of diagnoses">
        <input type='checkbox' name='diagnoses_{{ diagnosis.id }}' value='{{ diagnosis.name }}'
               [checked]="diagnosis.id == ruleDiagnosis.id">
        {{ diagnosis.name }} Stage {{ diagnosis.stage }}

      </div>

    </td>
  </tr>

  <tr>
    <td nowrap><p class="formText">Rule Name</p></td>
    <td align="right">

      <p class="formText" style="text-align:left;">
        <input type='text' name='RuleName' maxlength='50' value='{{ rule.name }}'>
      </p>
  </tr>


  <tr>
    <td nowrap><p class="formText">True Message</p></td>
    <td align="right">
      <p class="formText" style="text-align:left;">
        <select name='TrueMessage'>");

          <option *ngFor="let message of messages" value='{{ message.id }}'
                  [selected]="trueMessageId.id === message.id">
            {{ message.tag }}
          </option>
        </select>
      </p>
    </td>
  </tr>

  <tr>

    <td nowrap><p class="formText">False Message</p></td>
    <td align="right">
      <p class="formText" style="text-align:left;">
        <select name='FalseMessage'>"
          <option value='0'></option>
          <option *ngFor="let message of messages" value='{{ message.id }}'
                  [selected]="falseMessage.id == message.id">
            {{ message.tag }}
          </option>
        </select>
      </p>
    </td>
  </tr>
  <tr>

    <td nowrap><p class="formText">Priority</p></td>
    <td align="right">
      <p class="formText" style="text-align:left;">
        <input type='text' name='Priority' maxlength='30' value="{{ rule.priority }}">
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="4">
        <tr>
          <td>
            <div class="updateText">
              <button (click)="editRule()" class="updateText">
                <img src="/src/assets/images/admin/update_arrow.gif" width=5 height=10 alt="" border="0">Edit
              </button>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td nowrap="nowrap"><p class="formText">Criteria</p></td>
    <td align="right">
      <div *ngFor="let criterion of criteria" class="formText" style="text-align: left;">
        {{criterion.element}}:{{criterion.operator}}:{{criterion.value}}
        <button (click)="editCriterion(rule.id, criterion.id)" class="subLink">
          <img src="/recommend/images/blue_arrow.gif" alt="" border="0" height="10" width="5"> Edit
        </button>
        <button (click)="deleteCriterion(rule.id, criterion.id)" class="subLink">
          <img src="/recommend/images/blue_arrow.gif" alt="" border="0" height="10" width="5"> Delete
        </button>
        <button (click)="addCriterion(rule.id)" class="subLink">
          <img src="/src/assets/images/recommend/blue_arrow.gif" width=5 height=10 alt="" border="0">Add New Criteria
        </button>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="4">
        <tr>
          <td>
            <div class="updateText">
              <button (click)="updateRule()" class="updateText"><img
                src="/src/assets/images/admin/update_arrow.gif" width=5 height=10 alt="" border="0">Save Updates
              </button>
            </div>
          </td>
          <td>
            <div class="updateText"><a href="/recommend/rule.jsp" class="updateText">
              <img src="/src/assets/images/admin/update_arrow.gif" width=5 height=10 alt="" border="0">Cancel Updates</a>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
